@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Pangolin&display=swap');

:root {
    --cor-primaria:#DDA0DD;
    --cor-secundaria: #8A2BE2;
    --cor-terciaria: #DB7093;
    --cor-quartenaria: #663399;
    --cor--quintenaria: #800080;

}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color:#DDA0DD;
    color: rebeccapurple;
}
.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: 'Pangolin', cursive;
    font-size: 1.5rem;
    font-weight: 600;
    color: #DB7093;
    text-decoration: none;

}

.titulo-destaque {
    color:#800080;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Pangolin', cursive;

}
.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo {
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__link {
    /* background-color: hotpink; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 6px double #DB7093;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color:#800080;
    width: 50%;
   
}
.apresentacao__links__link:hover {
    background-color:#DB7093;
}
.apresentacao__links__subtitulo:hover {
    color: #800080;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    color: #8A2BE2;
    background-color: #DB7093;
    font-size: 1.5rem;
    position: fixed;
    bottom:0;
    left: 45%;
    padding: 24px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}